.one_project_container{
  width: 23%;
  background: #FAFAFA;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  margin: 1.5rem;
  padding: 2rem 2rem;
}

.content{

}
.content img{
  width: 94%;
  align-self: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12);
  border: #08092c 1px solid;
  padding: 7px;
  border-radius: 7px;
}


.project_web {
  padding: 15px 25px;
  border-radius: 25px;
  border-style: none;
  background-color: #d22e2e;
  color: white;
  margin: 1rem;
}
.project_web:active {
  background-color: #852222;
}

.project_web:hover{
  transform: scale(1.1);
}
.project_info:hover{
  transform: scale(1.1);
}

.project_info {
  padding: 15px 25px;
  border-radius: 25px;
  color: #d22e2e;
  background-color: #FAFAFA;
  margin-left: 2rem;
  border: 2px solid #d22e2e;
}
.project_info:active {
  background-color: #852222;
}

@media screen and (max-width: 1000px) {
  .one_project_container {
    width: 50%;
  }
}

@media screen and (max-width: 830px) {
  .one_project_container {
    width: 80%;
  }
}
